<div class='container d-flex flex-row'>
  <p id="notice"><%= notice %></p>
  <div class="p-5">
      <h1><%= @restaurant.name %></h1>


      <p>
        <strong>Address:</strong>
        <%= @restaurant.address %>
      </p>

      <p>
        <strong>Phone Number:</strong>
        <%= @restaurant.phone_number %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @restaurant.category %>
      </p>

      <%= link_to 'Back', restaurants_path, class: 'btn btn-success' %>
  </div>

  <div class="p-5">

    <h4>Add Review to restaurant <%= @restaurant.name %></h4>

    <div>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5], default: 0 %>
        <%= f.input :content, placeholder: 'Write your comment here' %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>



    <div>

      <h3>Reviews</h3>

      <ul class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item"><span class='comment'><strong>Comment:</strong> <%= review.content %> | <%= review.rating %> Stars</span></li>
        <%  end %>
      </ul>
    </div>
  </div>





</div>
